{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h2 class=""> Bienvenue dans se blog </h2>

    {{ 'plop.plip' | trans }}

{% endblock %}
