{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Hello {{ controller_name }}!{% endblock %}

{% block body %}
<h3>Nous sommes dans l'index</h3>
    <article>
        <div class="article-container">
                <p>C'est tellemnt cool Symfony</p>
            {{ stagiaire }}
        </div>
        <ul>
            {% for item in something %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
